<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

<h2>
Salut {{ user.prenom }} {{ user.nom }}
</h2>

<h3>
Votre votre viens d'etre crée. Ci-dessous les informations pour se connecter :
</h3>

<p>
<strong>Email :</strong> {{ user.email }}
<br>
<strong>Mot de passe par defaut :</strong> {{ defaultPassword }}
</p>

<p>
Veuillez changer le mot de passe après etre connecté.
</p>

<p>
L'équipe Resto-Up
</p>

</body>
</html>
